@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap');

html, body, p, h1, h2, h3, h4, h5, h6 {
    color: rgb(var(--v-theme-primary_text));
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif !important;
}