@import url('base.scss') ;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

html, body, p, h1, h2, h3, h4, h5, h6 {
    color: rgb(var(--v-theme-primary_text));
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif !important;
}
.hero {
       background: url(../img/hero_360.jpg) no-repeat top left !important;
        background-size: cover !important;
    height: 450px;
    border-radius: 0 !important;
}
.search-container .v-tab  .v-icon {
    display: none;
}
.search-container .v-tabs--density-default.v-tabs--stacked {
    --v-tabs-height: 40px !important;
}
.v-tab {
    border-radius: 8px !important;
}

.service-tab-container {
    padding: 0 !important;
}

.search-container .v-tabs .v-btn__content {
    color: white !important;
}

.search-container .v-tabs .v-btn__underlay {
    background-color: rgb(var(--v-theme-secondary)) !important;
    border-radius: 8px !important;
}

.menu-bar {
    background-color: rgb(var(--v-theme-secondary)) !important;
    padding-top: 8px !important;
    position: relative !important;
}
.menu-bar-shadow {
    box-shadow: 0px 4px 24px rgba(32, 57, 96, 0.1) !important;
}
.menu-bar .v-btn__content {
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: 400 !important;
    font-family: 'Fira Sans Extra Condensed', sans-serif !important;
}
.menu-bar .v-btn--variant-text:hover {
    color: rgb(var(--v-theme-primary)) !important;
}
.menu-bar-shadow .v-btn--variant-text {
    color: rgb(var(--v-theme-primary_text)) !important
}

.rounded-sm, .v-btn--rounded {
    border-radius: 6px !important;
}

.rounded-md {
    border-radius: 8px !important;
}

.rounded-lg,
.rounded-lg .v-bottom-sheet__content {
    border-radius: 12px !important;
}

.rounded-xl,
.rounded-xl .v-bottom-sheet__content {
    border-radius: 12px !important;
}

.footer {
    border-radius: 0 !important;
}


@media (max-width: 420px) {
    .service-tab-container {
       display: none !important;
    }

}